<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>Welcome to your dashboard, <%= username %></h1>
    <br><br>
    <a href="/logout" style="color: yellow">Logout</a>
    <br><br>
    <form method="POST" action="/search">
        <label for="searchChoice">Make your choice:</label> 
        <select id="searchChoice" name="searchChoice">
            <option value="team">Team</option>
            <option value="player">Player</option>
        </select><br><br>
        <label for="saerchTerm">Enter a team id or a player name: </label>
        <input type="text" name="searchTerm" id="searchTerm"><br><br>
        <input type="submit" value="search">
    </form>
    <% if (flag){ %>
        Your search results:
        <% if (teams.length){ %>
            <h5>Teams</h5>
            <table>
                <thead>
                    <td>team name</td>
                    <td>team id</td>
                    <td>founded</td>
                    <td>bestminutes</td>
                    <td>total wins</td>
                    <td>total losses</td>
                    <td>total goals</td>
                    <td>offsides</td>
                    <td>corners</td>
                </thead>
                <tbody>
                    <% teams.forEach((elem)=>{ %>
                        <tr>
                            <td><%= elem.team_name %></td>
                            <td><%= elem.team_id %></td>
                            <td><%= elem.founded %></td>
                            <td><%= elem.bestminutes %></td>
                            <td><%= elem.total_wins %></td>
                            <td><%= elem.total_losses %></td>
                            <td><%= elem.total_goals %></td>
                            <td><%= elem.offsides %></td>
                            <td><%= elem.corners %></td>
                            <td><form method="POST" action="/dashboard" >
                                <input type="hidden" name="delete_team" value=<%= elem.team_id %>>
                                <input type="submit" value="delete">
                            </form></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
        <br><br>
        <% if (players.length){ %>
            <h5>Players</h5>
            <table>
                <thead>
                    <td>player name</td>
                    <td>country</td>
                    <td>birthdate</td>
                    <td>position</td>
                    <td>height</td>
                </thead>
                <tbody>
                    <% players.forEach((elem)=>{ %>
                        <tr>
                            <td><%= elem.player_name %></td>
                            <td><%= elem.country %></td>
                            <td><%= elem.birthdate %></td>
                            <td><%= elem.position %></td>
                            <td><%= elem.height %></td>
                            <td><form method="POST" action="/dashboard" >
                                <input type="hidden" name="delete_player" value=<%= elem.id %>>
                                <input type="submit" value="delete">
                            </form></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
         <% } %>
    <%  } %>
</body>
</html>