<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Home Page</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>Welcome to Team and Player Search and Management application</h1><br><br>
    <h5>Here you can search for teams and players and store results in database for easy access</h5><br>
    <a href="/register" style="color:chartreuse">Register Page</a><br>
    <a href="/login" style="color:chartreuse">Login Page</a>
</body>
</html>