<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>Welcome to Login Page</h1><br><br>
    <% if (message){ %>
        <%= message %>
    <% } %>
    <% if (valid) { %>
        <% valid.forEach((elem)=>{ %>
            <%= elem.msg %><br>
        <% }) %>
    <% } %>
    
    <form action="/login" method="POST">
        <label id="username">Enter username: </label>
        <input type="text" name="username" id="username"><br><br>
        <label id="password">Enter password: </label>
        <input type="password" name="password" id="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <br><br>
    <h1>You are not registered yet? <a href="/register">register</a></h1>
</body>
</html>