<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <title>Football Player Stats</title>
</head>
<body>
    <div class="heading">
        <h1 class="title-text display-3">Football Player Stats</h1>
    </div>
    <% if (message){ %>
        <%= message %>
    <% }else{ %>
        <% if (flag){ %>
            <form method="POST" action="/search">
                Which one of these players, do you want to view:<br><br>
                <% players.forEach((elem)=>{ %>
                    <img src=<%= elem.image_path %>>
                    <input type="radio" name="playerid" value=<%= elem.player_id %>>
                    
                <% }) %>
                <input type="submit" value="search">
            </form> 
        <% } else{ %>
            <div class="content">
                <div class="profile">
                    <div class="image-section">
                        <img src=<%= player.image_path %> alt="" class="player-image">
                        <% if (player.team){ %>
                            <img src=<%= player.team.data.logo_path %>>
                        <% } %>
                    </div>
                    <div class="name-section">
                        <h2 class="name display-4"><%= player.fullname %></h2>
                    </div>
        
                    <div class="bio-section">
                        <% if (player.team){ %>
                            <h5>Team Id: <%= player.team.data.id %></h5>
                            <h5>Team Name: <%= player.team.data.name %></h5>
                        <% } %>
                        <h5>Country: <%= player.birthcountry %></h5>
                        <h5>Birthdate: <%= player.birthdate %></h5>
                        <h5>Height: <%= player.height %></h5>
                        <h5>Position: <%= player.position.data.name %></h5>
                    </div>
                </div>
            </div>
            
        <% } %>
    <% } %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>