<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <title>Team Stats</title>
</head>
<body>
    <div class="heading">
        <h1 class="title-text display-3">Team Stats</h1>
    </div>
    <% if (message){ %>
        <%= message %>
    <% }else{ %>
        <div class="content">
            <div class="profile">
                <div class="image-section">
                    <img src=<%= team.logo_path %>>
                </div>
                <div class="name-section">
                    <h2 class="name display-4"><%= team.name %></h2>
                </div>
    
                <div class="bio-section">
                    <h5>Team Id: <%= team.stats.data[0].team_id %></h5>
                    <h5>Founded: <%= team.founded %></h5>
                    <h5>Total wins: <%= team.stats.data[0].win.total %></h5>
                    <h5>Home wins: <%= team.stats.data[0].win.home %></h5>
                    <h5>Total losses: <%= team.stats.data[0].lost.total %></h5>
                    <h5>Total draws: <%= team.stats.data[0].draw.total %></h5>
                    <h5>Total scored goals: <%= team.stats.data[0].goals_for.total %></h5>
                    <h5>Total conceded goals: <%= team.stats.data[0].goals_against.total %></h5>
                    <h5>Total clean sheets: <%= team.stats.data[0].clean_sheet.total %></h5>
                    <h5>Offsides: <%= team.stats.data[0].offsides %></h5>
                    <h5>Red Cards: <%= team.stats.data[0].redcards %></h5>
                    <h5>Yellow Cards: <%= team.stats.data[0].yellowcards %></h5>
                    <h5>Total corners: <%= team.stats.data[0].total_corners %></h5>
                    
                    <h5> Minutes in which most goals scored: <%= bestminutes.minute %></h5>
                    <h5> The count of goals in these minutes: <%= bestminutes.count %></h5>
                    <h5> The percentage: <%= bestminutes.percentage %></h5>
                    
                </div>
            </div>
        </div>
            
    <% } %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>